.download-button {
  background-color: var(--container-fill-color);
  font-size: 1.25rem;
  width: 8rem;
  height: 3rem;
  border: 3px solid var(--text-color);
  border-radius: 15px;
  color: var(--text-color);
  transition: color 0.2s ease-out;
  font-family: "Roboto Condensed", sans-serif;
}

.download-button:disabled {
  color: var(--disable-color);
  /* border: 3px solid #5d534a69; */
}
.download-button:active {
  background-color: var(--text-color);
  color: var(--container-fill-color);
}

/* .download-button:hover {
    width: 7.5rem;
    height: 2.5rem;
} */
