.download-button {
  background-color: var(--container-fill);
  font-size: 1.25rem;
  width: 8rem;
  height: 3rem;
  border: 3px solid var(--border-color);
  border-radius: 15px;
  color: var(--text-color);

  transition: color 0.2s ease-out;
  font-family: "Roboto Condensed", sans-serif;
}

.download-button:disabled {
  color: var(--deactive-color);
}
.download-button:active {
  background-color: var(--border-color);
  color: var(--container-fill);
}
